:root {
    --header-color: crimson;
    --p-color: orangered;
    --bg-color: seashell;
    --bg-white: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKgAAAEsCAMAAABgwwj8AAAAA1BMVEX///+nxBvIAAAASElEQVR4nO3BMQEAAADCoPVPbQwfoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD+BsYMAAFjd3WkAAAAAElFTkSuQmCC");
    --bg-img: url("https://i.pinimg.com/originals/71/81/0c/71810cb153e19633aed66c9979360c5f.jpg");
}

body {
    text-align: center; 
    background-image: var(--bg-img);
    background-image: cross-fade(var(--bg-white), var(--bg-img), 40%);
    background-image: -webkit-cross-fade(var(--bg-white), var(--bg-img), 40%);
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    color: var(--header-color);
}

p {
    font-size: 25px;
    color: var(--p-color);
}

select {
    font-size: 20px;
}

table { 
    margin-right: auto;
    margin-left: auto;
    height: 100px;
    width: 1000px;
    border-collapse: collapse; 
} 

th, td {
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    justify-content: stretch;
    width: 50px;
    height: 20px;
 }

#submit {
    width: 200px;
    background-color: lightskyblue;
    color: white;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#return_menu {
    width: 200px;
    background-color: orange;
    color: white;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    clear: both;
}

.hidden{
    display: none;
}

.error{
    color: green;
}
