:root {
    --header-color: crimson;
    --p-color: orangered;
    --bg-color: seashell;
    --bg-white: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKgAAAEsCAMAAABgwwj8AAAAA1BMVEX///+nxBvIAAAASElEQVR4nO3BMQEAAADCoPVPbQwfoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD+BsYMAAFjd3WkAAAAAElFTkSuQmCC");
    --bg-img: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7e2a68c4-dae5-464f-8fb9-7232488046be/d4sel13-e9d80a97-1da8-4bc1-b59d-171172054a8f.png/v1/fill/w_900,h_507,strp/pokemon_background_by_baddarn_d4sel13-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD01MDciLCJwYXRoIjoiXC9mXC83ZTJhNjhjNC1kYWU1LTQ2NGYtOGZiOS03MjMyNDg4MDQ2YmVcL2Q0c2VsMTMtZTlkODBhOTctMWRhOC00YmMxLWI1OWQtMTcxMTcyMDU0YThmLnBuZyIsIndpZHRoIjoiPD05MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.wkbPO6pj9vWMN_YQRK_MUGxVlYr33Qm6nH3vXJi4IX8");
}

body {
    text-align: center; 
    background-image: var(--bg-img);
    background-image: cross-fade(var(--bg-white), var(--bg-img), 40%);
    background-image: -webkit-cross-fade(var(--bg-white), var(--bg-img), 40%);
    background-size: 100%;
    background-attachment: fixed;
}

h1 {
    color: var(--header-color);
}
p {
    font-size: 25px;
    color: var(--p-color);
}
.error{
font-size: 20px;
color:green;
text-align: center;
}
select {
    font-size: 20px;
}
table { 
    margin-right: auto;
    margin-left: auto;
    height: 100px;
    width: 1000px;
    border-collapse: collapse; 
} 
td { 
    text-align: center; 
} 
.medium{
text-align: center;
align:center
}
#submit {
    width: 200px;
    background-color: lightskyblue;
    color: white;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#return_menu {
    width: 200px;
    background-color: orange;
    color: white;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    clear: both;
}