:root {
    --header-color: crimson;
    --p-color: orangered;
    --bg-color: seashell;
    --bg-white: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKgAAAEsCAMAAABgwwj8AAAAA1BMVEX///+nxBvIAAAASElEQVR4nO3BMQEAAADCoPVPbQwfoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD+BsYMAAFjd3WkAAAAAElFTkSuQmCC");
    --bg-img: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fgetwallpapers.com%2Fcollection%2Fpokemon-wallpaper-2560x1440&psig=AOvVaw1CQGbP7Dq86dNcolCIT8-2&ust=1619383775427000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCMCh9Ofgl_ACFQAAAAAdAAAAABAH");
}

body {
    text-align: center; 
    background-image: var(--bg-img);
    background-image: cross-fade(var(--bg-white), var(--bg-img), 40%);
    background-image: -webkit-cross-fade(var(--bg-white), var(--bg-img), 40%);
    background-size: 100%;
    background-attachment: fixed;
}

h1 {
    color: var(--header-color);
}
p {
    font-size: 25px;
    color: var(--p-color);
}
.error{
font-size: 20px;
color:green;
text-align: center;
}
select {
    font-size: 20px;
}
table { 
    margin-right: auto;
    margin-left: auto;
    height: 100px;
    width: 1000px;
    border-collapse: collapse; 
} 
td { 
    text-align: center; 
} 
.medium{
text-align: center;
align:center
}
#submit {
    width: 200px;
    background-color: lightskyblue;
    color: white;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#return_menu {
    width: 200px;
    background-color: orange;
    color: white;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    clear: both;
}