:root {
    --header-color: crimson;
    --p-color: orangered;
    --bg-color: seashell;
}

body {
    background-color: var(--bg-color);
}

h1 {
    color: var(--header-color);
}

p {
    font-size: 25px;
    color: var(--p-color);
}

select {
    font-size: 20px;
}

table { 
    margin-right: auto;
    margin-left: auto;
    height: 100px;
    width: 1000px;
    border-collapse: collapse; 
} 

.center {
    text-align: center;
}

.submit {
    width: 200px;
    background-color: lightskyblue;
    color: white;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

th, td {
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    justify-content: stretch;
    width: 50px;
    height: 20px;
 }

 #menu {
    width: 200px;
    background-color: orange;
    color: white;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    clear: both;
    text-align: center;
    
 }