<!DOCTYPE html>
<html>
<head>
</head>

<body>


<div class="container">
<script src="db.js" defer></script>
<h2>Database Results</h2>
console.log("pokemon");
console.log(pokemon);
<ul>
     <li><%= pokemon.hp %> - <%= pokemon.atk %> </li>
</ul>

</div>

</body>
</html>
