<!DOCTYPE html>
<html>
<head>
</head>

<body>


<div class="container">
<h2>Database Results</h2>

<ul>
    <% pokemon.forEach(function(r) { %>
        <li><%= pokemon.hp %> - <%= r.atk %> </li>
    <% }); %>
</ul>

</div>

</body>
</html>
