<!DOCTYPE html>
<html>
<head>
</head>

<body>


<div class="container">
<h2>Database Results</h2>
<% console.log("pokemon");%>
<% console.log(pokemon); %>
<ul>
     <li><%= pokemon[3].hp %> - <%= pokemon[3].atk %> </li>
</ul>

</div>

</body>
</html>
