<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<script src="" defer></script>
		<link rel="stylesheet" href="yicheng_menu.css">
		<script src="https://code.jquery.com/jquery-3.6.0.js"
		        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" 
		        crossorigin="anonymous"></script>
		<title></title>
	</head>
	<body>
		<h2>Design your own pokemon</h2>
		<p> You can design your own pokemon in this web page.</p> 
		<p> AKA. add a piece of data to SQL.</p>
		
		<div>
			<input type="text" id="pokemon_name" placeholder="Enter Pokemon Name here..." value =''>
			<input type="button" value="Add" id="addBtn">
		</div>
		
		<div>
		    <p>Fill Your Statistic</p>
		    <table border="1">
		        <tr>
		            <th>HP</th>
		            <th>ATK</th>
		            <th>DEF</th>
		            <th>SP.ATK</th>
		            <th>SP.DEF</th>
		            <th>SPEED</th>
		        </tr>
		        <tr>
		            <td><input type="text" name="stats_hp" id="stats_hp"></td>
		            <td><input type="text" name="stats_atk" id="stats_atk"></td>
		            <td><input type="text" name="stats_def" id="stats_def"></td>
		            <td><input type="text" name="stats_sp_atk" id="stats_sp_atk"></td>
		            <td><input type="text" name="stats_sp_def" id="stats_sp_def"></td>
		            <td><input type="text" name="stats_speed" id="stats_speed"></td>
		        </tr>
		    </table>
		    <br>
		    <span class="error" id="statsError">
		        <strong>
		            Please enter non-negative integer for HP/ATK/DEF/SP.ATK/SP.DEF/SPEED of Statistic
		        </strong>
		    </span>
		</div>
		<div>
		    <input type="button" value="Return to Menu" id="return_menu">
		</div>
	</body>
</html>
