<!DOCTYPE html>
<html>
<title>Damage Calculator Page</title>
<head><link rel="stylesheet" type="text/css" href="../../public/weiqiwang.css">
</head>
 
<body>
 
    <h2 class="medium">Damage Calculator Page</h2>
    <p class="medium">Choose ATK Pokemon and statistic</p>
    <div class="medium">
    <select class="medium">
        <option value ="Bulbasaur">Bulbasaur</option>
        <option value ="Ivysaur">Ivysaur</option>
        <option value="Venusaur">Venusaur</option>
        <option value="Charmander">Charmander</option>
      </select>
      </div>
      <div class="medium">
      <table border="1" align="center">
        <tr>
            <th>HP</th>
            <th>ATK</th>
            <th>DEF</th>
            <th>SP.ATK</th>
            <th>SP.DEF</th>
            <th>SPEED</th>
        </tr>
        <tr>
            <th><input type="text" value="200"></th>
            <th><input type="text" value="200"></th>
            <th><input type="text" value="200"></th>
            <th><input type="text" value="200"></th>
            <th><input type="text" value="200"></th>
            <th><input type="text" value="200"></th>
        </tr>
    </table>
    </div>
    <p class="medium">Choose ATK Pokemon and statistic</p>
    <div class="medium">
    <select class="medium">
        <option value ="Bulbasaur">Bulbasaur</option>
        <option value ="Ivysaur">Ivysaur</option>
        <option value="Venusaur">Venusaur</option>
        <option value="Charmander">Charmander</option>
      </select>
      </div>

      <table align="center" border="1">
        <tr>
            <th>HP</th>
            <th>ATK</th>
            <th>DEF</th>
            <th>SP.ATK</th>
            <th>SP.DEF</th>
            <th>SPEED</th>
        </tr>
        <tr>
            <th><input type="text" value="200"></th>
            <th><input type="text" value="200"></th>
            <th><input type="text" value="200"></th>
            <th><input type="text" value="200"></th>
            <th><input type="text" value="200"></th>
            <th><input type="text" value="200"></th>
        </tr>
    </table>
    <p class="medium">Choose ATK Pokemon and statistic</p>
    <div class="medium">
    <select> 
        <option value ="Bulbasaur">Bulbasaur</option>
        <option value ="Ivysaur">Ivysaur</option>
        <option value="Venusaur">Venusaur</option>
        <option value="Charmander">Charmander</option>
      </select>
      </div>
      <table align="center" border="1">
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Power</th>
            <th>Category</th>
            <th>PP</th>
        </tr>
        <tr>
            <th>Tackle</th>
            <th>Normal</th>
            <th>40</th>
            <th>None</th>
            <th>40</th>
    </table>
    <div align="center">
        <input type="button" value="Submit" id="validate">
    </div>
    <p class="medium">Result:</p>
    <div align="center">
        <input type="text" value="200" >
    </div>
    <div align="right">
    <input class=submit type="button" value="Return to menu" id="validate">
    </div>
</body>
</html>
