<!DOCTYPE html>
<html>
<title>Damage Calculator Page</title>>
<head>
</head>
 
<body>
 
    <h2>Damage Calculator Page</h2>
    <p>Choose ATK Pokemon and statistic</p>
    <select>
        <option value ="Bulbasaur">Bulbasaur</option>
        <option value ="Ivysaur">Ivysaur</option>
        <option value="Venusaur">Venusaur</option>
        <option value="Charmander">Charmander</option>
      </select>
    <table border="1">
        <tr>
            <th>HP</th>
            <th>100</th>
        </tr>
        <tr>
            <th>ATK</th>
            <th>100</th>
        </tr>
        <tr>
            <th>DEF</th>
            <th>100</th>
        </tr>
        <tr>
            <th>SP.ATK</th>
            <th>100</th>
        </tr>
        <tr>
            <th>SP.DEF</th>
            <th>100</th>
        </tr>
        <tr>
            <th>SPEED</th>
            <th>100</th>
        </tr>
    </table>
    <p>Choose ATK Pokemon and statistic</p>
    <select>
        <option value ="Bulbasaur">Bulbasaur</option>
        <option value ="Ivysaur">Ivysaur</option>
        <option value="Venusaur">Venusaur</option>
        <option value="Charmander">Charmander</option>
      </select>
      <table border="1">
        <tr>
            <th>HP</th>
            <th>100</th>
        </tr>
        <tr>
            <th>ATK</th>
            <th>100</th>
        </tr>
        <tr>
            <th>DEF</th>
            <th>100</th>
        </tr>
        <tr>
            <th>SP.ATK</th>
            <th>100</th>
        </tr>
        <tr>
            <th>SP.DEF</th>
            <th>100</th>
        </tr>
        <tr>
            <th>SPEED</th>
            <th>100</th>
        </tr>
    </table>
</body>
</html>
