<!DOCTYPE html>
<html>
<head>
    <title>Species Strength to Statistic page</title>
    <link rel="stylesheet" href="xingyuzhu.css"/>
</head>
 
<body>
    <h1 class = "center">Species Strength to Statistic Page</h1>
    <p class = "center">Choose target Pokemon and Nature:</p>
    <div class = "center">
        <select name = "pokemon">
            <option value = "Abra">Abra</option>
            <option value = "Absol">Absol</option>
            <option value = "Accelgor">Accelgor</option>
            <option value = "Aegislash">Aegislash</option>
            <option value = "Aggron">Aggron</option>
            <option value = "Aipom">Aipom</option>
            <option value = "Aron">Aron</option>
        </select>
        <select name = "nature">
            <option value = "adament">Adament</option>
            <option value = "bashful">Bashful</option>
            <option value = "bold">Bold</option>
            <option value = "brave">Brave</option>
            <option value = "calm">Calm</option>
            <option value = "careful">Careful</option>
            <option value = "docile">Docile</option>
            <option value = "gentle">Gentle</option>
            <option value = "hardy">Hardy</option>
        </select>
    </div>

    <p class = "center">Pokemon's Data</p>
    <table>
        <tr>
            <th class = "borderS">HP</th>
            <th class = "borderS">ATK</th>
            <th class = "borderS">DEF</th>
            <th class = "borderS">SP.ATK</th>
            <th class = "borderS">SP.DEF</th>
            <th class = "borderS">SPEED</th>
        </tr>
        <tr>
            <td class = "borderS"></td>
            <td class = "borderS"></td>
            <td class = "borderS"></td>
            <td class = "borderS"></td>
            <td class = "borderS"></td>
            <td class = "borderS"></td>
        </tr>
    </table>

    <p class = "center">Fill Your Base Point</p>
    <table>
        <tr>
            <th class = "borderS">HP</th>
            <th class = "borderS">ATK</th>
            <th class = "borderS">DEF</th>
            <th class = "borderS">SP.ATK</th>
            <th class = "borderS">SP.DEF</th>
            <th class = "borderS">SPEED</th>
        </tr>
        <tr>
            <td>
                <input type = "number" name = "hp" id = "userinput">
            </td>
            <td>
                <input type = "number" name = "hp" id = "userinput">
            </td>
            <td>
                <input type = "number" name = "hp" id = "userinput">
            </td>
            <td>
                <input type = "number" name = "hp" id = "userinput">
            </td>
            <td>
                <input type = "number" name = "hp" id = "userinput">
            </td>
            <td>
                <input type = "number" name = "hp" id = "userinput">
            </td>
        </tr>
    </table>

    <form>
        <div class = "center">
            <input type = "submit" value = "Submit" class="submit" id = "sub">
        </div>
    </form>

    <p class = "center">Result:</p>
    <table>
        <tr>
            <th class = "borderS">HP</th>
            <th class = "borderS">ATK</th>
            <th class = "borderS">DEF</th>
            <th class = "borderS">SP.ATK</th>
            <th class = "borderS">SP.DEF</th>
            <th class = "borderS">SPEED</th>
        </tr>
        <tr>
            <td class = "borderS"></td>
            <td class = "borderS"></td>
            <td class = "borderS"></td>
            <td class = "borderS"></td>
            <td class = "borderS"></td>
            <td class = "borderS"></td>
        </tr>
    </table>

    <a href="" id = "menu">Return to the menu</a>

</body>
</html>