<!DOCTYPE html>
<html>
<head>
    <title>Species Strength to Statistic page</title>
    <meta charset="utf-8">
	<script src="" defer></script>
    <link rel="stylesheet" href="xingyuzhu.css"/>
</head>
 
<body>
    <h1 class = "center">Species Strength to Statistic Page</h1>
    <h2>Choose target Pokemon and Nature:</h2>
    <select name = "pokemon" class = "scroll">
        <option value = "Abra">Abra</option>
        <option value = "Absol">Absol</option>
        <option value = "Accelgor">Accelgor</option>
        <option value = "Aegislash">Aegislash</option>
        <option value = "Aggron">Aggron</option>
        <option value = "Aipom">Aipom</option>
        <option value = "Aron">Aron</option>
    </select>

    <select name = "nature" class = "scroll">
        <option value = "adament">Adament</option>
        <option value = "bashful">Bashful</option>
        <option value = "bold">Bold</option>
        <option value = "brave">Brave</option>
        <option value = "calm">Calm</option>
        <option value = "careful">Careful</option>
        <option value = "docile">Docile</option>
        <option value = "gentle">Gentle</option>
        <option value = "hardy">Hardy</option>
    </select>

    <h2>Pokemon's Data</h2>
    <table>
        <tr>
            <th class = "borderS">HP</th>
            <th class = "borderS">ATK</th>
            <th class = "borderS">DEF</th>
            <th class = "borderS">SP.ATK</th>
            <th class = "borderS">SP.DEF</th>
            <th class = "borderS">SPEED</th>
        </tr>
        <tr>
            <td class = "borderS"></td>
            <td class = "borderS"></td>
            <td class = "borderS"></td>
            <td class = "borderS"></td>
            <td class = "borderS"></td>
            <td class = "borderS"></td>
        </tr>
    </table>

    <h2>Fill Your Base Point</h2>
    <table>
        <tr>
            <th class = "borderS">HP</th>
            <th class = "borderS">ATK</th>
            <th class = "borderS">DEF</th>
            <th class = "borderS">SP.ATK</th>
            <th class = "borderS">SP.DEF</th>
            <th class = "borderS">SPEED</th>
        </tr>
        <tr>
            <td>
                <input type = "number" name = "hp" id = "userinput">
            </td>
            <td>
                <input type = "number" name = "hp" id = "userinput">
            </td>
            <td>
                <input type = "number" name = "hp" id = "userinput">
            </td>
            <td>
                <input type = "number" name = "hp" id = "userinput">
            </td>
            <td>
                <input type = "number" name = "hp" id = "userinput">
            </td>
            <td>
                <input type = "number" name = "hp" id = "userinput">
            </td>
        </tr>
    </table>

    <form>
        <div>
            <input type = "submit" value = "Submit" class="submit" id = "sub">
        </div>
    </form>

    <h2>Result:</h2>
    <table>
        <tr>
            <th class = "borderS">HP</th>
            <th class = "borderS">ATK</th>
            <th class = "borderS">DEF</th>
            <th class = "borderS">SP.ATK</th>
            <th class = "borderS">SP.DEF</th>
            <th class = "borderS">SPEED</th>
        </tr>
        <tr>
            <td class = "borderS"></td>
            <td class = "borderS"></td>
            <td class = "borderS"></td>
            <td class = "borderS"></td>
            <td class = "borderS"></td>
            <td class = "borderS"></td>
        </tr>
    </table>

    <a href="" id = "menu">return to the menu</a>

</body>
</html>